<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZmtI3D01eGoQkqlgxT1Qrvb0yUSfjMnI</string>
	<key>GCM_SENDER_ID</key>
	<string>261252181636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workhubWeb</string>
	<key>PROJECT_ID</key>
	<string>work-hub-93325</string>
	<key>STORAGE_BUCKET</key>
	<string>work-hub-93325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261252181636:ios:e7836ad5e15f1ef4f19cd1</string>
</dict>
</plist>